<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Play any Carimbo game" />
    <meta name="keywords" content="Game Engine, WebAssembly, C++, SDL, Lua, Carimbo"/>
    <meta name="author" content="Rodrigo Delduca" />

    <title>Carimbo</title>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
