{% extends "base.html" %}

{% block head %}
  <style>
  img {
    width: 100%;
    height: auto;
    max-width: 480px;
    display: block;
    margin: 0 auto;
  }

  a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
  }

  li {
    text-align: center;
    margin-bottom: 20px;
  }
  </style>
{% endblock %}

{% block content %}
  <ul style="list-style: none; padding: 0;">
    {% for artifact in artifacts %}
      <li>
        <a href="/play/{{ artifact.runtime }}/{{ artifact.organization }}/{{ artifact.repository }}/{{ artifact.release }}/{{ artifact.resolution }}">
          <img src="https://placehold.co/480x270" alt="Cover for {{ artifact.repository }}">
          /play/{{ artifact.repository }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endblock %}
